# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
day_one/.vs/day_one/v16/.suo
*.db
*.opendb
*.ipch
*.log
*.tlog
*.user
*.CopyComplete
*.pdb
*.ilk
.idea/Advent_of_code_2018.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/*
*.pyc

aoc_2022/global.json
aoc_2022/aoc_2022.sln.DotSettings.user
aoc_2022/aoc_2022/bin
aoc_2022/aoc_2022/obj